div:hover {
    border: 2px solid grey;
}

.primaria {
    background-color: blue;
}

.secundaria {
    background-color: orange;
}

.complementar {
    background-color: aquamarine;
}

.escura {
    background-color: darkgreen;
}

.clara {
    background-color: lightpink;
}

.primaria h3 {
    font-family: monospace;
    font-style: italic;
}

.secundaria h3 {
    font-family: cursive;
}

.complementar h3 {
    font-family: fantasy;
    font-style: italic;
}

.escura h3 {
    color: azure;
}

.clara h3 {
    color: blueviolet;
    font-style: italic;
}

.increasethis {
    font-size: 2em;
    padding: 10px;
}
